.cartContainer {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  width: 85%;
  flex-wrap: wrap;
  gap: 1%;
}

.comeback {
  button {
    float: left;
    position: fixed;
    top: 90%;
    margin-left: 2rem;
    cursor: pointer;
    background: none;
    border: 0;
    transition: color 0.2ms;
    &:hover {
      color: var(--red);
      position: fixed;
      top: 90%;
    }
  }
}

.leftContainerArea {
  width: 100%;
  max-width: 700px;
  min-width: 300px;
}

.rightContainerArea {
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  padding: 1rem;
  height: 100%;
  border: 1px solid var(--gray-300);
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.54);
  -moz-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.54);
  box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.54);
  .valuesInformation {
    .values {
      display: flex;
      justify-content: space-between;
    }
  }
  .checkOut {
    margin-top: 1rem;
    button {
      background: var(--green);
      border: 0px solid var(--gray-300);
      border-radius: 5px;
      height: 50px;
      width: 100%;
      color: white;
      font-size: 1.5rem;
      font-family: roboto;
      font-weight: bolder;
    }
  }
}
