.cartContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  width: 85%;
}

.leftContainerArea {
  width: 60%;
}

.rightContainerArea {
  background-color: hotpink;
  width: 40%;
}
