.reactModalOverlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.reactModalContent {
  width: 100%;
  max-width: 40%;
  background: white;
  padding: 1rem;
  position: relative;
  border-radius: 0.25rem;
  display: flex;
}

.buttonCloseModal {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  border: 0;
  background: transparent;
  transition: filter 0.2s;
  &:hover {
    filter: brightness(0.7);
  }
}

.imageProduct {
  justify-content: center;
  width: 100%;
  img {
    width: 100%;
  }
}

.infoProduct {
  margin: 5%;
  justify-content: center;
  display: inline-block;
  width: 100%;

  .nameProduct {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1rem;
  }

  .price {
    .offer {
      font-weight: bold;
      font-size: 1.8rem;
    }
  }
}

.buttonsProduct {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin-bottom: 5px;

  button {
    background: transparent;
    border: 0;
    width: 30%;
  }
}

.rightInformation {
  width: 50%;
  padding-right: 3%;
}

.infoPromotion {
  text-align: center;

  .discount {
    margin-top: 1rem;
    color: var(--green);
    text-align: left;
    margin-left: 5%;
  }

  .numbers {
    font-family: rajdhani;
    font-size: 1.4rem;
    color: var(--green);
    text-align: left;
    margin-left: 5%;

    span {
      font-weight: bold;
    }
  }
}

.take {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: bold;
}

.buy {
  font-size: 1rem;
  font-weight: bold;
}
