.container {
  background-color: white;
  width: 1%;
  min-width: 200px;
  border: 1px solid var(--gray-300);
  border-radius: 5%;
  margin-bottom: 10px;
}

.imageProduct {
  justify-content: center;
  padding-top: 0.5rem;
  img {
    height: 175px;
    margin: 0 auto;
  }
}

.tagPromotion {
  position: absolute;
  img {
    width: 90px;
    height: 90px;
  }
}

.infoProduct {
  margin: 5%;
  justify-content: center;

  .nameProduct {
    text-align: left;
    font-size: 1rem;
    font-family: rajdhani;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 60px;
  }

  .priceProduct {
    text-align: left;
    .offer {
      font-weight: bold;
      font-size: 2rem;
    }
  }
}

.buttonsProduct {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin-bottom: 5px;
  button {
    background: transparent;
    border: 0;
    width: 30%;
  }
}
.buttonsProductAdd {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;

  button {
    background: transparent;
    border: 0;
    border-top: 1px solid var(--gray-300);
    color: var(--green);
    align-content: center;
  }
}

.modalButton {
  background: transparent;
  width: 200px;
  border: none;
  margin-bottom: 5px;
}
